.titleBar {
  background-color: #f43f5e;
  height: 64px;
  color: #e7e9eb;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleContainer {
  width: 1320px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}
@media screen and (max-width: 1088px) {
  /* .titleBar {
    display: none;
  } */
}
